@import "../../utils/colors.scss";

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.flight-card {
  font-weight: bold;
  margin-top: 16px !important;
  margin: auto;
  //width: 58vw;
  width: 804px;
  //height: 14vh;
  height: 116px;
  font-size: 16px;
  background: linear-gradient(
    180deg,
    rgba(181, 235, 253, 0.203125) 0%,
    #def1f8 100%
  );
  border-radius: 17px;

  .flight-info {
    width: 80%;
    margin: auto;
    margin-left: 24px;
    .flight-title {
      font-size: large;
      padding: 16px;
      padding-block: 8px;
      border-bottom: 1px solid #bdccff;
    }

    .small-infos {
      padding-inline: 16px;
      padding-block: 8px;
      font-size: large;
      justify-content: flex-start;
      gap: 24px;
    }
  }

  .flex-row-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 8px;
  }

  .flight-action {
    width: 20%;
    gap: 8px;
    .flight-price {
      width: fit-content;
      margin-inline: auto;
    }

    .flight-button {
      width: fit-content;
      margin-inline: auto;
    }
    button {
      background-color: $white;
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
      border-radius: 9px;
      font-weight: bold;
      width: 100px;
      height: 40px;
    }
  }
}
