@import '../../utils/colors.scss';

.sidebar {
    display: flex;
    background-color: $darkGray;
    width: 15vw;
    height: 100%;
    flex-direction: column;
    margin-left: -8px;
    margin-top: 7px;
} 

.sidebar ul {
    padding: 0;
}

.sidebar ul a{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $lightGray;
}

.sidebar ul a p {
    margin-left: 10px;
    font-size: 20px;
}

.sidebar ul a svg {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.sidebar ul a:hover {
    background-color: $lightGray;
    border-radius: 5px;
    color: $darkGray
}

.closedSidebar{
    display: flex;
    background-color: $darkGray;
    width: 5vw;
    height: 100%;
    flex-direction: column;
    margin-left: -8px;
    margin-top: 7px;
}

.closedSidebar ul {
    padding: 0;
}

.closedSidebar ul a{
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $lightGray;
}

.closedSidebar ul a p {
    margin-left: 10px;
    font-size: 20px;
}

.closedSidebar ul a svg {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

.closedSidebar ul a:hover {
    background-color: $lightGray;
    border-radius: 5px;
    color: $darkGray
}