@import "../../utils/colors.scss";

.sidebar {
  position: absolute;
  display: flex;
  background-color: $sideBarBlue;
  margin-top: 7vh;
  width: 14vw;
  height: 100%;
  flex-direction: column;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.sidebar ul {
  position: relative;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
  padding-inline-start: 0px;
  height: 100%;

  a:last-child {
    color: $exitRed;
    position: absolute;
    bottom: 50px;
    left: 0;
  }
}

.sidebar ul a {
  display: flex;
  width: 100%;
  padding-block: 36px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: $gray;
}

.sidebar ul a p {
  margin-left: 10px;
  font-size: 20px;
}

.sidebar ul a svg {
  width: 35px;
  height: 35px;
}

.sidebar ul a:hover {
  opacity: 0.5;
}

.closedSidebar {
  margin-top: 7vh;
  display: flex;
  background-color: $sideBarBlue;
  width: 5vw;
  height: 100%;
  flex-direction: column;
  box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.closedSidebar ul {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-inline: auto;
  height: 100%;

  a:last-child {
    color: $exitRed;
    position: absolute;
    bottom: 50px;
    left: 0;
  }
}

.closedSidebar ul a {
  display: flex;
  padding-block: 36px;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: $gray;
}

.closedSidebar ul a p {
  margin-left: 10px;
  font-size: 20px;
}

.closedSidebar ul a svg {
  width: 35px;
  height: 35px;
}

.closedSidebar ul a:hover {
  opacity: 0.5;
}
