@import "./utils/font.scss";

.view {
  margin: -8px;
  overflow: auto;
  height: 100vh;
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

body {
  overflow: hidden;
}
