.userElement {
  display: flex;
  justify-content: space-between;
  width: max-content;
  float: right;
  margin-right: 2rem;

  .passageiro {
    fill: #00ff44;
  }

  .empresa {
    fill: #2427ff;
  }

  .admin {
    fill: #ff0000;
  }
}
